<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navigation}"></nav>

<div class="container-fluid">
    <div class="container text-light text-center">
        <h2 class="text-center text-dark mt-5">Products</h2>
    </div>
    <div th:each="c : ${allCat}" th:object="${c}">
        <th:block th:if="*{name.name() == 'VEGETABLE'}">
            <div class="row mx-auto d-flex flex-row justify-content-center">
                <div th:each="v : ${allVeggies}" th:object="${v}">
                    <div class="card" style="width: 18rem;">
                        <section class="gallery">
                            <img th:each="pic : ${v.getPictureViewList()}" th:object="${pic}" th:src="${pic.imgUrl}"
                                 class="rounded" alt="">
                            <th:block th:if="${v.getPictureViewList().size() == 0}">
                                <img src="/images/comming-soon-%20photo.jpg" class="rounded" alt="coming">
                            </th:block>
                        </section>
                        <div class="card-body">
                            <h5 th:text="*{name}" class="card-title">Домати</h5>
                            <th:block th:if="*{amount == 0 || amount == null}" >
                                <h6>Not available at the moment</h6>
                            </th:block>
                            <th:block th:if="*{amount < 5 && amount >0}">
                                <h6 th:text="|Only ${v.amount} left|">Not available at the moment</h6>
                            </th:block>
                            <th:block th:unless="*{amount == 0 || amount == null}">
                                <p th:text="*{price}" class="card-text">1.50 лв/кг</p>
                                <a th:href="@{/products/buy/{id}(id=${v.id})}" class="btn btn-primary">Купи</a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="*{name.name() == 'OTHER'}">
            <div class="row mx-auto d-flex flex-row justify-content-center">
                <div th:each="o : ${allOther}" th:object="${o}">
                    <div class="card" style="width: 18rem;">
                        <section class="gallery">
                            <img th:each="pic : ${o.getPictureViewList()}" th:object="${pic}" th:src="${pic.imgUrl}"
                                 class="rounded" alt="">
                            <th:block th:if="${o.getPictureViewList().size() == 0}">
                                <img src="/images/comming-soon-%20photo.jpg" class="rounded" alt="coming">
                            </th:block>
                        </section>
                        <div class="card-body">
                            <h5 th:text="*{name}" class="card-title">Домати</h5>
                            <th:block th:if="*{amount == 0 || amount == null}" >
                                <h6>Not available at the moment</h6>
                            </th:block>
                            <th:block th:if="*{amount < 5 && amount >0}">
                                <h6 th:text="|Only ${o.amount} left|">Not available at the moment</h6>
                            </th:block>
                            <th:block th:unless="*{amount == 0 || amount == null}">
                                <p th:text="*{price}" class="card-text">1.50 лв/кг</p>
                                <a th:href="@{/products/buy/{id}(id=${o.id})}" class="btn btn-primary">Купи</a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="*{name.name() == 'SPICE'}">
            <div class="row mx-auto d-flex flex-row justify-content-center">
                <div th:each="s : ${allSpices}" th:object="${s}">
                    <div class="card" style="width: 18rem;">
                        <section class="gallery">
                            <img th:each="pic : ${s.getPictureViewList()}" th:object="${pic}" th:src="${pic.imgUrl}"
                                 class="rounded" alt="">
                            <th:block th:if="${s.getPictureViewList().size() == 0}">
                                <img src="/images/comming-soon-%20photo.jpg" class="rounded" alt="coming">
                            </th:block>
                        </section>
                        <div class="card-body">
                            <h5 th:text="*{name}" class="card-title">Домати</h5>
                            <th:block th:if="*{amount == 0 || amount == null}" >
                                <h6>Not available at the moment</h6>
                            </th:block>
                            <th:block th:if="*{amount < 5 && amount >0}">
                                <h6 th:text="|Only ${s.amount} left|">Not available at the moment</h6>
                            </th:block>
                            <th:block th:unless="*{amount == 0 || amount == null}">
                                <p th:text="*{price}" class="card-text">1.50 лв/кг</p>
                                <a th:href="@{/products/buy/{id}(id=${s.id})}" class="btn btn-primary">Купи</a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="*{name.name() == 'HOMEMADE'}">
            <div class="row mx-auto d-flex flex-row justify-content-center">
                <div th:each="h : ${allHomemade}" th:object="${h}">
                    <div class="card" style="width: 18rem;">
                        <section class="gallery">
                            <img th:each="pic : ${h.getPictureViewList()}" th:object="${pic}" th:src="${pic.imgUrl}"
                                 class="rounded" alt="">
                            <th:block th:if="${h.getPictureViewList().size() == 0}">
                                <img src="/images/comming-soon-%20photo.jpg" class="rounded" alt="coming">
                            </th:block>
                        </section>
                        <div class="card-body">
                            <h5 th:text="*{name}" class="card-title">Домати</h5>
                            <th:block th:if="*{amount == 0 || amount == null}" >
                                <h6>Not available at the moment</h6>
                            </th:block>
                            <th:block th:if="*{amount < 5 && amount >0}">
                                <h6 th:text="|Only ${h.amount} left|">Not available at the moment</h6>
                            </th:block>
                            <th:block th:unless="*{amount == 0 || amount == null}">
                                <p th:text="*{price}" class="card-text">1.50 лв/кг</p>
                                <a th:href="@{/products/buy/{id}(id=${h.id})}" class="btn btn-primary">Купи</a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

    </div>
</div>
</body>
</html>


