<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="~{fragments/head}">-->
<!--</head>-->
<!--<body>-->
<!--<nav th:replace="~{fragments/navigation}"></nav>-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navigation}"></nav>

<main>
    <div class="container-fluid bg-blur rounded mt-1 mb-4 d-flex justify-content-center" id="big-div">

        <div class="col-5">
            <h3 class=" bg-gray text-dark  mb-0 mt-2">Product</h3>
            <div class="bg-light rounded m-auto" style="overflow: auto">
                <div th:each="p : ${allProducts}" th:object="${p}" class="list-group">
                    <div class="card" style="width: 20rem;">
                        <section class="gallery">
                            <img th:each="pic : ${p.getPictureViewList()}" th:object="${pic}" th:src="${pic.imgUrl}"
                                 class="rounded" alt="">
                            <th:block th:if="${p.getPictureViewList().size() == 0}">
                                <img src="/images/comming-soon-%20photo.jpg" class="rounded" alt="coming">
                            </th:block>
                        </section>
                        <div class="card-body">
                            <h5 th:text="*{name}" class="card-title">Домати</h5>
                            <a th:href="@{/products/change-pic/{id}(id=${p.id})}" class="btn btn-primary">Change Pic</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-5">
            <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">All Pictures</h3>
            <h6 class="mySticky bg-gray text-dark  mb-0 mt-0"></h6>
            <div class="bg-dark rounded m-auto" style="height: 67vh; overflow: auto">
                <th:block>
                    <ul class="list-group list-group-horizontal text-dark">
                        <li class="list-group-item bg-warning">
                            <table>
                                <tr class="container-fluid">
                                    <td class="container text-light text-center">
                                        <a href="#">
                                            <h2 class="text-center text-dark mt-5">Users</h2>
                                        </a>
                                    </td>
                                    <td class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="card-link">Card link</a>
                                            <a href="#" class="card-link">Another link</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </li>
<!--                        <li class="list-group-item list-group-item-warning text-dark">-->
<!--                            <a th:text="${task.description}">{description}</a>-->
<!--                        </li>-->
                    </ul>
                </th:block>
            </div>
        </div>
    </div>
</main>
</body>
</html>

<!--</body>-->
<!--</html>-->