<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navigation}"></nav>

<div class="container-fluid">
    <div class="container text-light text-center">
        <h2 class="text-center text-dark mt-5">Products</h2>
    </div>
    <div th:each="p : ${products}" th:object="${p}" class="row mx-auto d-flex flex-row justify-content-center">
        <div>
            <div class="card" style="width: 18rem;">
                <section class="gallery">
                    <img th:each="pic : ${p.getPictureViewList()}" th:object="${pic}" th:src="${pic.imgUrl}"
                         class="rounded" alt="">
                    <th:block th:if="${p.getPictureViewList().size() == 0}">
                        <img src="/images/comming-soon-%20photo.jpg" class="rounded" alt="coming">
                    </th:block>
                </section>
                <div class="card-body">
                    <h5 th:text="*{name}" class="card-title">Домати</h5>
                    <p th:text="*{price}" class="card-text">1.50 лв/кг</p>
                    <a href="#" class="btn btn-primary">Купи</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>


