<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navigation}"></nav>

<div class="container-fluid">
  <div class="container text-light text-center">
    <h2 class="text-center text-dark mt-5">Products</h2>
  </div>
  <div class="row mx-auto d-flex flex-row justify-content-center">
    <div th:each="pic : ${pictures}" th:object="${pic}">
      <div class="card" style="width: 18rem;">
        <img th:src="*{imgUrl}" class="card-img-top" alt="pic">
        <div class="card-body">
          <h5 th:text="*{title}" class="card-title">Домати</h5>
          <a href="#" class="btn btn-primary">Купи</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en"  xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Home</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Upload Successful</h1>-->
<!--<a href="/">Back to Index</a>-->
<!--<th:block th:each="pic : ${pictures}" th:object="${pic}">-->
<!--  <div class="row">-->
<!--    <h3 th:text="*{title}"></h3>-->
<!--    <img th:src="*{imgUrl}" alt="Student picture" width="300px">-->
<!--  </div>-->
<!--</th:block>-->
<!--</body>-->
<!--</html>-->